profiles {
    aws {
        process.executor = 'awsbatch'
        process.queue = 'my-ngs-batch-queue' // The name of the Job Queue you created
        
        // Ensure every process specifies a container image
        process.container = 'ubuntu:22.04' 
        
        // Point the working directory to your S3 bucket
        workDir = 's3://ngs-variant-validator-work'
        
        aws.region = 'us-east-1'
    }
}

process {
    withName: 'FETCH_DB_INPUTS|LOG_DB_OUTPUTS' {
        // Nextflow will pass these secrets from the host machine into the container running the Python scripts
        ext.db_host = secrets.DB_HOST
        ext.db_user = secrets.DB_USER
        ext.db_pass = secrets.DB_PASSWORD
        ext.db_name = secrets.DB_NAME
    }
}